<div class="buttons-wrapper">
    <a href="/" class="logo">BitBin</a>
    <div class="buttons">
        <a href="/new" class="btn"><i class="ri-file-add-line"></i></a>
        <% if (locals.canSave) { %>
        <button class="btn" type="submit"><i class="ri-save-3-line"></i></button>
        <% } %>
        <a href="/raw/<%= locals.id %>" class="btn"><i class="ri-file-2-line"></i></a>
    </div>
</div>